# Modern UI Access Transformers
# Converted from modernui.classtweaker
public net.minecraft.client.OptionInstance$IntRangeBase
public net.minecraft.client.OptionInstance$SliderableOrCyclableValueSet
public net.minecraft.client.gui.GuiGraphicsExtractor$ScissorStack
public net.minecraft.client.gui.font.FontManager$CachedFontProvider
public com.mojang.blaze3d.systems.GpuDevice backend
